/Java/Leccion1/MundoPC/nbproject/private/
/Java/Leccion1/MundoPC/build/
/Java/Leccion2/ArgumentosVariables/nbproject/private/
/Java/Leccion2/ArgumentosVariables/build/
/Java/Leccion2/Enumeraciones/nbproject/private/
/Java/Leccion2/Enumeraciones/build/
/Java/Leccion2/BloquesInicializacion/nbproject/private/
/Java/Leccion2/BloquesInicializacion/build/
/Java/Leccion3/ForEach/nbproject/private/
/Java/Leccion3/AutoboxingUnboxing/nbproject/private/
/Java/Leccion3/ModificadoresAcceso/nbproject/private/
